.container {
  color: #f3f3f3;
  width: 100%;
}

.desktop {
  width: 350px;
  position: fixed;
  height: 100%;
  background-color: rgb(21, 26, 43);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}

.logoTitle {
  font-size: 2rem;
  font-weight: bold;
  color: dodgerblue;
}

.logo img {
  width: 50px;
  height: 50px;
}

.navItem {
  padding: 0.75rem;
  cursor: pointer;
  color: #ccc;
}

.navItemWrapper {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  transition: 250ms ease-in-out;
}

.navItem:hover:not(.active) .navItemWrapper {
  color: #fff;
  transform: translateX(0.25rem);
}

.navItem > * {
  margin-left: 0.5rem;
}

.navItem.active {
  background-color: dodgerblue;
  color: #fff;
}

.mobile {
  display: none;
}

@media (max-width: 1200px) {
  .desktop {
    width: 250px;
  }

  .logoTitle {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  .container {
    width: 100%;
  }
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgb(30, 32, 39);
    color: #f3f3f3;
    overflow: hidden;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    padding: 0;
  }

  .logoTitle {
    font-weight: bold;
  }

  .hamburger {
    cursor: pointer;
  }

  .line {
    width: 35px;
    height: 4px;
    background-color: #fff;
    margin: 0.5rem 0;
    transition: 250ms ease-in-out;
  }

  .hamburger.active .line:first-child {
    transform: rotate(45deg) translate(9px, 9px);
  }

  .hamburger.active .line:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }

  .hamburger.active .line:last-child {
    transform: rotate(-45deg) translate(7px, -9px);
  }

  .navItemWrapper {
    justify-content: center;
  }

  .navItems {
    height: 0;
    transition: 250ms ease-in-out;
  }

  .navItems.show {
    height: calc(48px * 3);
  }
}
